---
import Layout from "../layouts/Layout.astro"
import { Icon } from 'astro-icon/components';

---



<Layout title="Alertma" onload="carga()">
    
    <div class="bg-pink-300 h-16 flex items-center">
    <header class="flex justify-between container max-w-6xl mx-auto">
        <h1><span class="font-bold text-pink-600">Alert</span><span class="font-bold text-neutral-200">Ma</span></h1>
        <menu>
            <ul class="space-x-5 ">
                <li class="inline hover:text-white"><a class="hover:border-b-2 border-white border-dotted" href="#">Home</a></li>
                <li class="inline  hover:text-white"><a class="hover:border-b-2  border-white border-dotted" href="#">Shop</a></li>
                <li class="inline  hover:text-white"><a class="hover:border-b-2  border-white border-dotted" href="#">Product</a></li>
                <li class="inline  hover:text-white"><a class="hover:border-b-2  border-white border-dotted" href="#">Blog</a></li>
                <li class="inline  hover:text-white"><a class="hover:border-b-2  border-white border-dotted" href="#">Contect</a></li>
            </ul>
        </menu>
        <div class="flex space-x-4">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
                ></path>
            </svg>
    
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
                ></path>
            </svg>
    
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                ></path>
            </svg>
        </div>
    </header>    
</div>
<body>
    <div class="alert show">
        <span class="warning"><Icon name="mdi:warning-circle" /></span>
        <span class="message">Recordatorio: No olvides consultar a tu médico</span>
        <span class="close">
            <span class="est"><Icon name="mdi:close" /></span>
        </span>

    </div>
</body>

<style>
    
    .alert{
        background: rgb(254, 212, 219);
        padding: 20px 40px;
        min-width: 420px;
        position: absolute;
        right: 0px;
        top: 55px;
        border-radius: 4px;
        border-left: 4px solid rgb(250, 74, 103); 
        overflow: hidden;
    }
    .alert.show{
        animation: show_notification 1s ease forwards;
    }
    @keyframes show_notification{
        0%{
            transform: translateX(100%);
        }
        40%{
            transform: translateX(-10%);
        }
    }

    .alert .warning{
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(215, 48, 76);
        font-size: 30px;

    }

    .alert .message{
        padding: 0 20px;
        font-size: 18px;
        color: rgb(208, 50, 76);

    }

    .alert .close{
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        background: rgb(254, 167, 181);
        padding: 25px 15px;
        cursor: pointer;

    }
    .close:hover{
        background: rgb(254, 167, 181);
    }

    .close .est{
        color: rgb(215, 48, 76);
        font-size: 22px;
        line-height: 40px;


    }





</style>

<div class="grid justify-center items-center m-16">
    <img src="../../public/fondo2.jpg" alt="">
</div>



</Layout>

<Layout title="Alertma">
    <div class="mt-[114px] mb-[40px] w-full text-white h-[45vh] flex flex-col justify-center items-center  rounded-lg ">
        <section class=" text-3xl font-bold w-full h-1/5 text-center flex justify-center items-center text-pink-300">
            <p>Centros de Salud cercanos</p>
        </section>
        <section class="w-[45vh] h-4/5 flex flex-col justify-around items-center bg-pink-300">
            <a href="https://www.google.com/maps/place/LIGA+CONTRA+EL+CANCER,+CAPITULO+OCA%C3%91A/@8.2353313,-73.3557863,19z/data=!3m1!4b1!4m6!3m5!1s0x8e677b3e95519f21:0xf07212a20f0d5ca!8m2!3d8.23533!4d-73.3551426!16s%2Fg%2F11qwr9xk97?entry=ttu" class="hover:bg-white hover:border-gray-800 transition-all duration-700 hover:text-gray-800 text-xl font-semibold rounded-lg border-white border px-10 py-2">Parque Principal</a>
            <a href="https://www.google.com/maps/place/Hospital+Emiro+Quintero+Ca%C3%B1izales/@8.2543815,-73.3597604,18z/data=!3m1!4b1!4m6!3m5!1s0x8e677b9b503ace2b:0xec53bc19a1df6546!8m2!3d8.2543788!4d-73.3584729!16s%2Fg%2F11c0qht4dn?entry=ttu" class="hover:bg-white hover:border-gray-800 transition-all duration-700 hover:text-gray-800 text-xl font-semibold rounded-lg border-white border px-10 py-2">Coliseo</a>
            <a href="https://www.google.com/maps/@8.2709613,-73.3667746,3a,75y,54.82h,92.54t/data=!3m6!1e1!3m4!1sLuoC-t8LXG6rG0h2U3GLuw!2e0!7i16384!8i8192?entry=ttu" class="hover:bg-white hover:border-black transition-all duration-700 hover:text-gray-800 text-xl font-semibold rounded-lg border-white border px-10 py-2">Terminalito (SantaClara)</a>
            <form action="" class="text-black rounded-md">
                <select name="" id="" class="rounded-md">
                    <option value="">Otros</option>
                    <option value="">Opciones2</option>
                    <option value="">Opciones3</option>
                </select>
            </form>
        </section>
    </div>
</Layout>

<script>
    var q1 = "Hola";
    var q2 = "Adios";
    var array = {0:'Adios',1:"Adios"}
    var i = 0;

    function carga(){
        alert("Sabías que... "+array[i]);
        i++;
    }
    
</script>